
    <script>
        $( function() {
            $( "#startDate" ).datepicker();
            $("#endDate").datepicker();
        } );

        function submitForm(){
            var userResponse = {}
            userResponse.startDate = $("#startDate").val();
            userResponse.endDate = $("#endDate").val();
            userResponse.type = $("#type").val();

            $("#userResponse").val ( JSON.stringify( userResponse ) ) ;

            return false ;
        }
    </script>

<div>
    <div class="form-group">
        <label for="type">Leave Type</label>
        <input type="text" class="form-control" id="type" placeholder="Leave Type">
    </div>
    <div class="form-group">
        <label for="startDate">StartDate</label>
        <input type="date" class="form-control" id="startDate" placeholder="StartDate">
    </div>
    <div class="form-group">
        <label for="endDate">EndDate</label>
        <input type="date" class="form-control" id="endDate" placeholder="EndDate">
    </div>
    <div class="form-group">
        <label for="endDate">UserResponse Summary</label>
        <textarea type="text" class="form-control" id="userResponse" placeholder="EndDate"></textarea>
    </div>

    <a href="#" class="btn btn-default"  onclick="submitForm();" >Submit</a>
</div>

